@charset "utf-8";

/* 共通部分
-------------------------------- */

html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  line-height: 1.7;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* HEADER
-------------------------------- */

/* 見出し・文章 */

.page-header {
  text-align: center;
  margin-top: 20%;
  color: white;
}

.page-header h1 {
  font-size: 3rem;
  font-weight: normal;
}

.main-nav {
  margin: 20px;
}

.strong {
  color: red;
  font-weight: bold;
}

/* ヘッダー背景画像 */

.big-bg {
  overflow:hidden;
}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../images/bg_natural_ocean.png);
  background-color: rgb(175, 175, 175);
  background-blend-mode: darken;
  min-height: 90vh;
}

/* SNSlinks
-------------------------------- */

#sns {
  margin: 5% 0 5%;
  display: flex;
  justify-content: center;
}

.sns-box {
  margin: 0 60px;
  width:100px
}
/* モバイル版
----------------------------- */
@media (max-width: 600px) {
  #sns {
  flex-direction: column;
  }

}